<!DOCTYPE html>
<html>
<head>
	<title>Mis autos favoritos</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>My Top 7 hypercars</h1>
	<h3>7. Bugatti Chiron</h3>
	<h3>6. Pagani Huayra</h3>
	<h3>5. Ferrari LaFerrari</h3>
	<h3>4. Porsche 918 Spyder</h3>
	<h3>3. Rimac Concept Two</h3>
	<h3>2. Mclaren p1 GTR</h3>
	<h3>1. Koenigsegg Agera R</h3>

	<a href="{% url 'Docentes' %}">Hola, soy un enlace al equipo docente del curso</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace al index</a>


</body>
</html>