<!DOCTYPE html>
<html>
<head>
	<title>Equipo Docente</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Equipo Docente IN3501-1</h1>
	<h2>Profesores:</h2>
	<h3>Iván Díaz Campos</h3>
	<h3>Ángel Jiménez Molina</h3>
	<h2>Auxiliares:</h2>
	<h3>Macarena V. Osorio A.</h3>
	<h3>José Canto</h3>
	<h3>Jorge Pinto</h3>
	<h3>Javiera Ovalle T.</h3>
	<h5>PD. No incluyo a los ayudantes porque son demasiados</h5>

	<a href="{% url 'Autos' %}">Enlace a mi Top 7 Hypercars</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace al index</a>


</body>
</html>